.doctor-info-container {
    position: relative;
    height: 91vh; /* Makes the container full viewport height */
    overflow: hidden; /* Prevents any overflow */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: -1; /* Ensures the image is behind content */
}

p{
    font-size: 18px;
}